.containerCardModels{
    padding: 40px 5%;
}

.containerCards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 60px;
}

.cards{
    width: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: var(--white);
    img{
        width: 100%;
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    p{
        font-size: 18px;
        color: var(--blue1);
        text-align: center;
    }
}